
BasicGit55/.vs/BasicGit55/v16/.suo
BasicGit55/BasicGit55/bin/Debug/netcoreapp3.1/BasicGit55.deps.json
BasicGit55/BasicGit55/bin/Debug/netcoreapp3.1/BasicGit55.dll
BasicGit55/BasicGit55/bin/Debug/netcoreapp3.1/BasicGit55.exe
BasicGit55/BasicGit55/bin/Debug/netcoreapp3.1/BasicGit55.pdb
BasicGit55/BasicGit55/bin/Debug/netcoreapp3.1/BasicGit55.runtimeconfig.dev.json
BasicGit55/BasicGit55/bin/Debug/netcoreapp3.1/BasicGit55.runtimeconfig.json
BasicGit55/BasicGit55/obj/Debug/netcoreapp3.1/apphost.exe
BasicGit55/BasicGit55/obj/Debug/netcoreapp3.1/BasicGit55.csproj.CoreCompileInputs.cache
BasicGit55/BasicGit55/obj/Debug/netcoreapp3.1/BasicGit55.csproj.FileListAbsolute.txt
BasicGit55/BasicGit55/obj/Debug/netcoreapp3.1/BasicGit55.dll
BasicGit55/BasicGit55/obj/Debug/netcoreapp3.1/BasicGit55.genruntimeconfig.cache
BasicGit55/BasicGit55/obj/Debug/netcoreapp3.1/BasicGit55.pdb
BasicGit55/.vs/BasicGit55/v16/.suo
BasicGit55/.vs/BasicGit55/v16/.suo
